doctype html
html
  head
    meta(charset='utf-8')
    title
    script(src='https://cdn.socket.io/socket.io-1.3.5.js')
    script.
        var socket = io();
        socket.on('tweet', function(tweet) {
        });
  body

doctype html
html
  head
    meta(charset='utf-8')
    title Single marker
    meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
    link(src='//mapbox.com/base/latest/base.css', rel='stylesheet')
    script(src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js')
    link(href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css', rel='stylesheet')
    script(src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js')
    link(href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css', rel='stylesheet')
    link(href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css', rel='stylesheet')
    style.
      body { margin:0; padding:0; }
      #map { position:absolute; top:0; bottom:0; width:100%; }
      #legend { display:none; }
    script.
      window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      t._e = [];
      t.ready = function(f) {
      t._e.push(f);
      };
      return t;
      }(document, "script", "twitter-wjs"));
    script(src='https://cdn.socket.io/socket.io-1.3.5.js')
  body
    #legend
      nav.legend.clearfix
        <a class="github-button" href="https://github.com/codeisland/makermap/fork" data-icon="octicon-git-branch" data-style="mega" data-count-href="/codeisland/makermap" data-count-api="/repos/codeisland/makermap#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork ntkme/github-buttons on GitHub">Fork</a>
        <a class="github-button" href="https://github.com/codeisland" data-style="mega" data-count-href="/codeisland/followers" data-count-api="/users/codeisland#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @codeisland on GitHub">Follow @codeisland</a>
    #map
    script.
      L.mapbox.accessToken = '';
      var map = L.mapbox.map('map', 'mapbox.light', {
      //minZoom: 8,
      maxZoom: 14
      }).setView([38.8951, -77.0364], 8);
      map.legendControl.addLegend(document.getElementById('legend').innerHTML);
      map.on('popupopen', function(event) {
        twttr.widgets.load();
      });
      var markers = new L.MarkerClusterGroup();
      map.addLayer(markers);
    script.
      var socket = io();
      var twid_marker = {};
      socket.on('add tweet', function(tweet) {
        var marker = L.marker(new L.LatLng(tweet.geometry.coordinates[1], tweet.geometry.coordinates[0]), {
          icon: L.divIcon({
            html: '<img src="' + tweet.properties.profile_image_url + '"/>',
            iconSize: [10, 10]
          })
        });
        marker.bindPopup(tweet.properties.description);
        markers.addLayer(marker);
        markers.zoomToShowLayer(marker, function() {
          marker.openPopup();
        });
        twid_marker[tweet.properties.tweet_id] = marker;
      });
      socket.on('remove tweet', function(tweet) {
        markers.removeLayer(twid_marker[tweet.properties.tweet_id]);
      });
    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
